/* Заголовок */
.MainHeader {
	text-align: center;
	font-size: 40pt;
	font-weight: bold;
	padding: 10px 0px 20px 0px;
	margin: 0px;
	color: #59D;
}
/* Блоки на которые разбита форма */
.Category {
	padding: 10px 30px;
}
.CategoryName {
	margin: 3px 0px;
}
.TextInput {
	height: 36px;
	border: 1px solid #CECECE;
	border-radius: 3px;
	flex: 1;
	display: inline-block;
	font-size: 14pt;
	padding-left: 5px;
}
.AddTagContainer, .AddFileContainer {
	display: flex;
	flex-direction: row;
	border: 1px solid #CECECE;
	border-radius: 3px;
	overflow: hidden;
	width: calc(50% - 5px);
}
.TagSearch {
	border: none;
	height: 36px;
	width: calc(100% - 41px);
}
.BookName {
	width: calc(100% - 7px);
}
.BookYear {
	width: calc(50% - 10px)
}
.Description {
	width: calc(100% - 12px);
	height: 200px;
	border: 1px solid #CECECE;
	border-radius: 3px;
	font-size: 14pt;
	padding: 5px;
}
/* Загрузка файла */
.File {
	display: none;
}
.LFile {
	width: 50%;
	font-size: 14pt;
	padding: 8px 0px;
	display: inline-block;
	text-align: center;
}
.LFName {
	color: #000;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.LFButton {
	background-color: #59D;
	font-weight: 700;
	color: #FFF;
}

/* Кнопки */
.Add {
	width: 38px;
	padding: 0px;
	border: none;
}
.FormButton {
	height: 38px;
	background-color: #59D;
	color: #FFF;
	cursor: pointer;
}
.FormButton:hover {
	background-color: #48C;
}
.SubmitButton, .ResetButton {
	width: calc(50% - 3px);
	border: 1px solid #CECECE;
	border-radius: 3px;
	margin-top: 25px;
	font-size: 12pt;
	font-weight: 700;
}