body {
	margin: 0px;
	background-color: #DDD;
	min-height: 100vh;
	font-family: arial;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.Wrapper {
	width: 1200px;
	margin: 0px auto;
	background-color: #FFF;
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}
.Sidebar {
	width: 300px;
	border-right: 1px solid #CECECE;
	font-size: 12pt;
	flex: 1;
	top: 0px;
}
.LogoContainer {
	
}
.Logo {
	height: 100px;
	display: block;
	margin: 0px auto;
	padding: 10px 0;
}
.AdminLinks {
	padding: 0px;
	margin: 15px 0 0 0;
	position: sticky;
	top: 0px;
}
.AdminLinkBox {
	
}
.AdminLink {
	display: flex;
	align-items: center;
	width: 285px;
	height: 50px;
	/*border-bottom: 1px solid #CECECE;*/
	padding-left: 15px;
	color: #000;
}
.AdminLink:hover {
	background-color: #48C;
	color: #FFF;
}
.Option {
	width: 890px;
	padding: 5px;
}
.AdminStart {
	text-align: center;
}
/* Заголовок формы */
.MainHeader {
	text-align: center;
	font-size: 40pt;
	font-weight: bold;
	padding: 10px 0px 20px 0px;
	margin: 0px;
	color: #59D;
}
/* Блоки, на которые разбита форма */
.FormElemContainer {
	padding: 10px 30px;
}
/* Текстовые поля */
.TextInput {
	height: 36px;
	border: 1px solid #CECECE;
	border-radius: 3px;
	flex: 1;
	display: inline-block;
	font-size: 14pt;
	padding-left: 5px;
}
.FullWidth {
	width: calc(100% - 7px);
}
.HalfWidth {
	width: calc(50% - 10px)
}
.FormButton {
	height: 38px;
	background-color: #59D;
	color: #FFF;
	cursor: pointer;
}
.FormButton:hover {
	background-color: #48C;
}
.SubmitButton, .ResetButton, .DeleteButton {
	width: calc(50% - 3px);
	border: 1px solid #CECECE;
	border-radius: 3px;
	margin-top: 25px;
	font-size: 12pt;
	font-weight: 700;
}
/* Поиск на изменение/удаление */
.BSearchName, .BSearchBtn, .USearchName, .USearchBtn {
	border: none;
}
.findBook, .findUser {
	width: 100%;
}
.flexContainer {
	display: flex;
}
.SBorder {
	border: 1px solid #CECECE;
	border-radius: 3px;
	overflow: hidden;
}
.BSearchBtn, .USearchBtn {
	fill: #FFF;
}