body {
	background-color: #DDD;
	font-family: Calibri;
	margin: 0px;
	min-height: 100vh;
	background-color: #FFF;
	display: flex;
    flex-direction: column;
	align-items: center;
}
.SiteHeader {
	background-color: #EEE;
	display: flex;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CECECE;
	justify-content: center
}
.Logo {
	height: 40px;
	padding: 5px 0px;
}
.SiteName {
	font-size: 24pt;
	padding: 7px;
	margin: 0;
}

.LoginForm {
	border: 1px solid #CECECE;
	border-radius: 3px;
	width: 364px;
	height: 350px;
	background-color: #FFF;
	margin: 75px auto 0px auto;
	padding: 50px;
	position: absolute;
	z-index: 2;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}
.LFormHeader {
	width: 350px;
	font-size: 16pt;
	display: inline-block;
	margin: 0px 0px 50px 0px;
	font-weight: bold;
}
.LFormLabel {
	margin: 0px 0px 30px 0px;
	width: 350px;
	font-size: 14pt;
	display: inline-block;
}
.TextField {
	width: 364px;
	border: 1px solid #CECECE;
	padding: 7px;
	height: 40px;
	display: block;
	outline: none;
	box-sizing: border-box;
}
.LButton {
	width: 364px;
	height: 45px;
	margin: 5px 0px 25px 0px;
	background-color: #59D;
	color: #FFF;
	border: 1px solid #CECECE;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}
.LButton:hover {
	background-color: #37B;
}
.LButton:active {
	background-color: #37B;
}
.hello {
	width: 1000px;
	background-color: #FFF;
	height: 100%;
	margin: 0 auto;
}
.helloText {
	text-wrap: wrap;
	width: 700px;
}
.glass {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	background: RGBA(0,0,0, 0.8);
	z-index: 1;
}
.closeLoginForm {
	padding: 0px;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: none;
	border: none;
}
.closeLoginForm:hover {
	cursor: pointer;
}
