body {
	background-color: #DDD;
	font-family: arial;
	margin: 0px;
	min-height: 100vh;
	background-color: #FFF;
	display: flex;
    flex-direction: column;
	align-items: center;
}
.LoginForm {
	border: 1px solid #CECECE;
	border-radius: 3px;
	width: 364px;
	height: 350px;
	background-color: #FFF;
	margin: 75px auto 0px auto;
	padding: 50px;
	position: absolute;
	z-index: 2;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 5;
}
.LFormHeader {
	width: 350px;
	font-size: 16pt;
	display: inline-block;
	margin: 0px 0px 50px 0px;
	font-weight: bold;
}
.LFormLabel {
	margin: 0px 0px 30px 0px;
	width: 350px;
	font-size: 14pt;
	display: inline-block;
}
.TextField {
	width: 364px;
	border: 1px solid #CECECE;
	padding: 7px;
	height: 40px;
	display: block;
	outline: none;
	box-sizing: border-box;
}
.LButton {
	width: 364px;
	height: 45px;
	margin: 5px 0px 25px 0px;
	background-color: #48C;
	color: #FFF;
	border: 1px solid #CECECE;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	font-size: 12pt;
}
.LButton:hover {
	background-color: #37A;
}
.LButton:active {
	background-color: #37A;
}
.LoginPageLogoMainContainer {
	/*margin-top: 10px;*/
	width: 100vw;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	/*border-top: 1px solid #CECECE;*/
	border-bottom: 1px solid #CECECE;
	background: #FFF;
	background: linear-gradient(45deg, transparent 50%, #48C 0);
	
}
.LoginPageLogoAlignContainer {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	background: #FFF;
	background: linear-gradient(45deg, transparent 50%, #48C 0);
}
.LoginPageLogoContainer {
	display: inline-block;
	max-width: 475px;
	width: 40%;
	height: 203px;
	box-sizing: border-box;
	position: relative;
	background: #FFF;
	z-index: 10;
}
.LoginPageLogoCaptionContainer {
	display: inline-block;
	max-width: 475px;
	width: 40%;
	height: 203px;
	z-index: 9;
	position: relative;
	background: #48C;
	margin-right: 0;
	margin-left: auto;
}
.LoginPageLogoCaptionContainer:before {
	content: '';
	position: absolute;
	left: -251px;
	top:0;
	height:100%;
	width: 100%;
	background-color: inherit;
	transform: skew(40deg);
	transform-origin:0 0;
	z-index: -15;
}
.LoginPageLogoContainer:after {
	content: '';
	position: absolute;
	left: 0px;
	top:0;
	height:100%;
	width: 100%;
	background-color:inherit;
	transform: skew(40deg);
	transform-origin:0 0;
	z-index: -1;
}
.LoginPageLogo {
	height: 193px;
	padding: 5px 0;
	margin: 0 0 0 50px;
	position: relative;
	z-index: 11;
}
.LoginPageLogoHeader {
	/*padding: 0;
	margin: 0;*/
	color: white;
	font-size: 32pt;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: -30px;
	text-align: center;
}
.LoginPageLogoCaption {
	word-wrap: break-word;
	text-align: center;
	display: block;
	color: white;
	font-size: 18pt;
	margin-left: -30px;
	margin-top: auto;
	margin-bottom: 30px;
	z-index: 0;
}

.hello {
	max-width: 1200px;
	width: 100%;
	background-color: #FFF;
	height: 100%;
	margin: 0 auto -123px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	overflow-wrap: break-word;
	line-break: normal;
	word-wrap: break-word;
}
.HelloTextContainer {
	width: 100%;
	max-width: 1190px;
	padding: 0 5px;
}
.helloText {
	word-wrap: break-word;
	display: block;
	margin: 10px 0;
	overflow-wrap: break-word;
	max-width: 1190px;
	padding: 5px;
	width: 100%;
	text-align: justify;
	line-break: normal;
}
.openLoginForm {
	margin: auto auto 150px auto;
}
.openLoginForm:hover {
	
}
.LoginFooter {
	border-top: 1px solid #CECECE;
	width: 100%;
}
.LoginFooterInfo {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding: 5px;
}
.FooterRow {
	display: block;
	padding: 5px 0;
}
.glass {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	background: RGBA(0,0,0, 0.8);
	z-index: 25;
}
.closeLoginForm {
	padding: 0px;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: none;
	border: none;
}
.closeLoginForm:hover {
	cursor: pointer;
}
