/* Основа сайта */

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
	background-color: #FFF;
	font-family: Arial;
}
a {
	text-decoration: none;
}
.Logo {
	height: 40px;
	padding: 5px 0px;
}
.SiteName {
	font-size: 24pt;
	padding: 7px;
	margin: 0;
}
.HeaderContent, .SiteWrapper, .FooterContent, .SearchForm, .NCentered {
	width: 100%;
	max-width: 1000px;
	min-width: 700px;
	margin: 0px auto;
	display: flex;
}
.SiteHeader {
	width: 100%;
	height: 50px;
}
.SecondHeader {
	position: sticky;
	top: 0px;
	margin: 0px 0px 20px 0px;
	height: 40px;
	z-index: 2;
}
.NCentered {
	background-color: #59D;
	height: 40px;
	border-radius: 3px;
}
.SiteWrapper {
	margin-bottom: 25px;
	min-height: 100%;
	height: 100%;
	flex: 1;
}
.SiteContent {
	background-color: #FFF;
	width: 100%;
	margin: 0px;
	padding: 0px;
	min-width: 700px;
}
.SiteFooter {
	background-color: #333;
	width: 100%;
	margin-top: -20px;
	height: 20px;
	border-top: 1px solid black;
}
.Copyright {
	font-size: 10pt;
	padding: 0px 0px 0px 7px;
	margin: 2px 0px;	
	color: #999;
}

/* Cлайдер */


/* Навигация */

.Navigation {
	display: flex;
	align-items: center;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 40px;
}
.NButton {
	margin-right: 10px;
	margin-left: 15px;
	height: 40px;
}
.exitButton {
	margin: 0px 5px;
	height: 40px;
	background: #59D;
	border: none;
	color: #FFF;
	font-size: 12pt;
	cursor: pointer;
	/*align-self: flex-end;*/
}
.NBLink {
	color: #FFF;
	display: flex;
	align-items: center;
	height: 100%;
}
.NBLink:hover {
	color: #FFF;
}

/* Поисковик */

.SearchForm {
	background-color: #59D;
	height: 32px;
	border-radius: 3px;
	padding: 4px 0px 4px 4px;
}
.SearchBook {
	/*border: 1px solid #37C;
	border-radius: 3px;*/
	background-color: #48C;
	height: 30px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.SearchBookName, .SButton, .SAOButton, .SAOInput {
	outline: none;
}
.SearchBookName {
	width: 100%;
	height: 30px;
	border: none;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	vertical-align: top;
	background-color: #48C;
	min-width: 100px;
	color: #FFF;
	font-size: 12pt;
}
.SearchBookName::placeholder {
	color: #DDD;
}

.SButton {
	cursor: pointer;
	height: 30px;
	width: 30px;
	align-items: center;
	border: none;
	padding: 0px;
	background-color: rgba(0,0,0,0);
}
.SButtonIcon {
	vertical-align: middle;
	width: 24px;
	height: 24px;
	fill: #FFF;
}
.OpenSearch {
	margin: 5px 0px 5px auto;
}
.HintList {
	width: 100%;
	background-color: #FFF;
	list-style: none;
	padding: 0px;
	margin: 0px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
.Hint {
	width: 100%;
	border-bottom: 1px solid #CECECE;
	padding: 10px 0px 10px 5px;
}
.Hint:hover {
	background-color: #59D;
	color: #FFF;
}
.Hint:last-child {
	border-bottom: none;
}
.SBorder {
	border: 1px solid #37C;
	position: relative;
	border-radius: 3px;
	width: 100%;
	overflow: hidden;
	margin: 0px;
}
.textPadding {
	padding: 0px 10px;
}
.borderBottom {
	padding-bottom: 20px;
	border-bottom: 1px solid #CECECE;
}

/* Стили для списка авторов и категорий */
.flexContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.listContainer {
	margin: 10px auto;
	border: 1px solid #CECECE;
}
.authorList, .categoryList {
	padding-left: 0px;
	list-style: none;
	margin: 0px;
}
.categoryListItem, .authorListItem {
	border-bottom: 1px solid #CECECE;
	width: 300px;
}
.categoryListItem a, .authorListItem a {
	display: block;
	padding: 10px;
	color: #000;
}
.categoryListItem a:hover, .authorListItem a:hover {
	color: #FFF;
	background-color: #59D;
}
.listHeader {
	display: block;
	width: 300px;
	text-align: center;
	padding: 5px 0px;
	background-color: #59D;
	color: #FFF;
}